Repository eksctl-io/eksctl, pull requests merged in 2023-01, with the labels that each got.

#6117 Updated dependencies and actions
  .github/workflows/rebase.yaml
  .github/workflows/stale.yml
  go.mod
  go.sum
  pkg/awsapi/autoscaling.go
  pkg/awsapi/eks.go
  pkg/eks/mocksv2/ASG.go
Labels: dependencies, area/tech-debt

#6105 Add release notes for 0.125
  docs/release_notes/0.125.0.md
Labels: skip-release-notes

#6119 Fix 404 karpenter provisioner link in documentation
  userdocs/src/usage/eksctl-karpenter.md
Labels: kind/docs, area/docs, skip-release-notes

#6141 Bump dependencies
  .github/workflows/release-candidate.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
  go.mod
  go.sum
  pkg/awsapi/cloudwatchlogs.go
  pkg/awsapi/ssm.go
Labels: skip-release-notes

#6102 Add 'CreateServiceLinkedRole' to karpenter permissions
  pkg/cfn/builder/karpenter.go
  pkg/cfn/builder/karpenter_test.go
Labels: kind/bug, area/karpenter

#6031 Fix include update irsa
  pkg/actions/irsa/create.go
  pkg/actions/irsa/delete.go
  pkg/actions/irsa/irsa.go
  pkg/actions/irsa/update.go
  pkg/ctl/update/iamserviceaccount.go
Labels: kind/bug

#6095 Pin K8s chain to 1.24
  go.mod
  go.sum
Labels: kind/improvement, dependencies

#6150 Revert "Pin K8s chain to 1.24"
  go.mod
  go.sum
Labels: skip-release-notes

#6153 Add release notes for 0.126.0
  docs/release_notes/0.126.0.md
Labels: skip-release-notes

#6168 Fixed broken site link
  .github/workflows/docker-publish.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/release-candidate.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
  go.mod
  go.sum
  pkg/awsapi/cloudwatchlogs.go
  userdocs/src/usage/container-runtime.md
Labels: kind/bug, area/docs, dependencies

#6169 Support for new versions of karpenter
  pkg/karpenter/karpenter.go
  pkg/karpenter/karpenter_test.go
Labels: kind/improvement, area/karpenter

#6172 Support fully-private clusters for Outposts
  examples/37-outposts-fully-private.yaml
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/apis/eksctl.io/v1alpha5/endpoint_service.go
  pkg/apis/eksctl.io/v1alpha5/endpoint_service_test.go
  pkg/apis/eksctl.io/v1alpha5/outposts_validation_test.go
  pkg/apis/eksctl.io/v1alpha5/types.go
  pkg/apis/eksctl.io/v1alpha5/validation.go
  pkg/apis/eksctl.io/v1alpha5/validation_test.go
  pkg/apis/eksctl.io/v1alpha5/vpc.go
  pkg/apis/eksctl.io/v1alpha5/zz_generated.deepcopy.go
  pkg/cfn/builder/cluster.go
  pkg/cfn/builder/cluster_test.go
  pkg/cfn/builder/testdata/service_details.json
  pkg/cfn/builder/testdata/service_details_china.json
  pkg/cfn/builder/testdata/service_details_outpost.json
  pkg/cfn/builder/testdata/service_details_outposts.json
  pkg/cfn/builder/testdata/service_details_outposts_china.json
  pkg/cfn/builder/testdata/vpc_private_outposts.json
  pkg/cfn/builder/testdata/vpc_private_outposts_china.json
  pkg/cfn/builder/vpc_endpoint.go
  pkg/cfn/builder/vpc_endpoint_test.go
  pkg/ctl/create/cluster.go
  pkg/kubernetes/client.go
  userdocs/src/usage/outposts.md
Labels: kind/feature

#6176 Fix updating kube-proxy to a newer version
  pkg/addons/default/kube_proxy.go
  pkg/addons/default/kube_proxy_test.go
Labels: kind/bug

#6178 Removed banner and updated outposts doc
  userdocs/src/index.md
  userdocs/src/usage/outposts.md
  userdocs/theme/main.html
Labels: kind/docs, area/docs

#6143 Improve unit test coverage of create cluster - Karpenter
  pkg/actions/karpenter/fakes/fake_karpenter_installer.go
  pkg/actions/karpenter/karpenter.go
  pkg/ctl/create/cluster.go
  pkg/ctl/create/cluster_test.go
Labels: area/testing, area/tech-debt

#6179 Release notes for 0.127.0
  docs/release_notes/0.126.0.md
  docs/release_notes/0.127.0.md
  integration/tests/update/update_cluster_test.go
Labels: skip-release-notes

#6023 Port coredns lameduck fix to EKS 1.24
  pkg/addons/default/assets/coredns-1.24.json
Labels: kind/improvement

#6188 Bump dependencies
  go.mod
  go.sum
Labels: skip-release-notes, dependencies

#6194 Fix typo in "Addons" configuration documentation
  userdocs/src/usage/addons.md
Labels: kind/docs, area/docs

#5722 Check Fargate Profile existence before creating
  pkg/actions/fargate/create_test.go
  pkg/eks/fakes/fargate_client.go
  pkg/eks/fargate.go
  pkg/fargate/fargate_test.go
Labels: kind/bug, area/fargate

#6195 Bump more dependencies
  go.mod
  go.sum
Labels: skip-release-notes, dependencies

#6196 Ldflags -s -w options for make binary
  Makefile
Labels: area/general-cli, area/tech-debt

#6177 Improve unit test coverage of create cluster - nodegroups
  integration/tests/crud/creategetdelete_test.go
  integration/tests/inferentia/inferentia_test.go
  integration/tests/ipv6/ipv6_test.go
  integration/tests/trainium/trainium_test.go
  pkg/ctl/cmdutils/utils.go
  pkg/ctl/create/cluster.go
  pkg/ctl/create/cluster_test.go
  pkg/eks/api.go
  pkg/eks/client.go
  pkg/eks/fakes/fake_kube_provider.go
  pkg/eks/update.go
Labels: area/testing, kind/improvement, area/tech-debt

#6204 Updated material theme, footer and landing page
  .github/workflows/exclude-file.txt
  userdocs/mkdocs.yml
  userdocs/requirements.txt
  userdocs/src/index.md
  userdocs/src/stylesheets/extra.css
  userdocs/src/usage/outposts.md
Labels: kind/docs, area/docs

#6205 Add release notes for 0.128
  docs/release_notes/0.128.0.md
Labels: skip-release-notes

#6209 Add note on how pod disruption budget policies influence cluster deletion
  userdocs/src/usage/creating-and-managing-clusters.md
Labels: kind/docs, area/docs

#6221 Bump dependencies
  .github/workflows/release-candidate.yaml
  .github/workflows/release-merge.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
  go.mod
  go.sum
  pkg/awsapi/sts.go
Labels: skip-release-notes, dependencies
