Repository eksctl-io/eksctl, pull requests merged in 2023-02, with the labels that each got.

#6225 Wait for coredns to be deleted before recreating in Addons integration test
  integration/tests/addons/addons_test.go
Labels: area/testing, area/tech-debt

#6226 Fix kube-proxy assertion in integration test
  integration/tests/update/update_cluster_test.go
Labels: area/testing, area/tech-debt

#6227 Allow all EKS versions to be used for Outposts clusters
  examples/35-outposts.yaml
  pkg/apis/eksctl.io/v1alpha5/outposts_validation_test.go
  pkg/apis/eksctl.io/v1alpha5/validation.go
  pkg/ctl/create/cluster_test.go
  userdocs/src/usage/outposts.md
Labels: kind/feature, area/outposts

#6228 Add user docs for Bottlerocket custom AMI support
  pkg/apis/eksctl.io/v1alpha5/validation.go
  pkg/apis/eksctl.io/v1alpha5/validation_test.go
  userdocs/src/usage/custom-ami-support.md
Labels: kind/docs, area/docs

#6230 Add support for Zurich (eu-central-2) region
  pkg/apis/eksctl.io/v1alpha5/types.go
Labels: kind/feature

#6231 Add support for Hyderabad (ap-south-2) region
  pkg/apis/eksctl.io/v1alpha5/types.go
Labels: kind/feature, area/regions

#6223 Update availabilityZones example under managed node group
  userdocs/src/usage/eks-managed-nodes.md
Labels: kind/docs, area/docs

#6234 Add support for Spain(eu-south-2) region
  go.mod
  go.sum
  pkg/apis/eksctl.io/v1alpha5/types.go
  pkg/awsapi/cloudtrail.go
  pkg/awsapi/iam.go
  pkg/eks/mocksv2/CloudTrail.go
  userdocs/src/index.md
  userdocs/src/introduction.md
Labels: kind/feature, area/regions

#6232 Add release notes for 0.129.0
  docs/release_notes/0.129.0.md
Labels: skip-release-notes

#6242 Pass ServiceCIDR to Windows bootstrap script
  pkg/nodebootstrap/windows.go
  pkg/nodebootstrap/windows_test.go
Labels: kind/feature

#6266 Bump dependencies
  .github/workflows/docker-publish.yaml
  .github/workflows/release-candidate.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
  go.mod
  go.sum
Labels: skip-release-notes, dependencies

#6267 Increase timeout and ordering for ebs-csi-driver addon test
  integration/tests/addons/addons_test.go
Labels: technical debt, area/testing, flaky-test, area/tech-debt

#6243 Improve UX when working with custom AMIs by having AMI Family explicitly specified
  integration/tests/override_bootstrap/testdata/override-bootstrap.yaml
  pkg/apis/eksctl.io/v1alpha5/defaults.go
  pkg/apis/eksctl.io/v1alpha5/managed_nodegroup_test.go
  pkg/apis/eksctl.io/v1alpha5/validation.go
  pkg/apis/eksctl.io/v1alpha5/validation_test.go
  pkg/cfn/builder/managed_launch_template_test.go
  userdocs/src/usage/custom-ami-support.md
Labels: kind/improvement

#6272 Document invalid usage of `--dry-run` with `--profile`
  pkg/ctl/cmdutils/configfile.go
  userdocs/src/usage/dry-run.md
Labels: kind/docs, area/docs

#6277 Release notes for 0.130.0
  docs/release_notes/0.130.0.md
Labels: skip-release-notes

#6279 Fix `get fargateprofiles` not getting all profiles
  pkg/fargate/fargate_test.go
  pkg/fargate/get.go
Labels: kind/bug

#6288 Update build image manifest, tag file and workflows
  .github/workflows/release-candidate.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
  go.mod
  go.sum
  pkg/awsapi/autoscaling.go
  pkg/eks/mocksv2/ASG.go
Labels: skip-release-notes, dependencies

#6237 Remove support for EKS 1.21
  integration/tests/override_bootstrap/override_bootstrap_test.go
  integration/tests/unowned_cluster/unowned_cluster_test.go
  pkg/actions/cluster/owned_test.go
  pkg/actions/cluster/unowned_test.go
  pkg/actions/cluster/upgrade_test.go
  pkg/actions/fargate/create_test.go
  pkg/actions/nodegroup/get_test.go
  pkg/addons/default/assets/coredns-1.21.json
  pkg/addons/default/coredns_test.go
  pkg/addons/default/kube_proxy_test.go
  pkg/addons/default/testdata/sample-1.22.json
  pkg/ami/ssm_resolver_test.go
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/apis/eksctl.io/v1alpha5/types.go
  userdocs/src/introduction.md
Labels: kind/improvement

#6291 Correct docs on how scaling nodegroups is achieved
  userdocs/src/usage/managing-nodegroups.md
Labels: kind/docs, area/docs

#6296 Fix docs typos and added collapsible admonition blocks
  userdocs/mkdocs.yml
  userdocs/src/introduction.md
  userdocs/src/usage/addon-upgrade.md
  userdocs/src/usage/addons.md
  userdocs/src/usage/arm-support.md
  userdocs/src/usage/cloudwatch-cluster-logging.md
  userdocs/src/usage/cluster-upgrade.md
  userdocs/src/usage/creating-and-managing-clusters.md
  userdocs/src/usage/custom-ami-support.md
  userdocs/src/usage/customizing-the-kubelet.md
  userdocs/src/usage/dry-run.md
  userdocs/src/usage/eks-connector.md
  userdocs/src/usage/eks-managed-nodes.md
  userdocs/src/usage/eks-private-cluster.md
  userdocs/src/usage/eksctl-karpenter.md
  userdocs/src/usage/faq.md
  userdocs/src/usage/fargate-support.md
  userdocs/src/usage/gitops-v2.md
  userdocs/src/usage/gpu-support.md
  userdocs/src/usage/iam-identity-mappings.md
  userdocs/src/usage/iam-permissions-boundary.md
  userdocs/src/usage/iamserviceaccounts.md
  userdocs/src/usage/kms-encryption.md
  userdocs/src/usage/launch-template-support.md
  userdocs/src/usage/managing-nodegroups.md
  userdocs/src/usage/minimum-iam-policies.md
  userdocs/src/usage/nodegroup-upgrade.md
  userdocs/src/usage/outposts.md
  userdocs/src/usage/security.md
  userdocs/src/usage/spot-instances.md
  userdocs/src/usage/unowned-clusters.md
  userdocs/src/usage/vpc-cluster-access.md
  userdocs/src/usage/vpc-networking.md
  userdocs/src/usage/vpc-subnet-settings.md
  userdocs/src/usage/windows-worker-nodes.md
Labels: kind/docs, area/docs

#6297 Add release notes for 0.131
  docs/release_notes/0.131.0.md
Labels: skip-release-notes

#6264 Support YAML format for Addon advanced configuration values
  pkg/apis/eksctl.io/v1alpha5/addon.go
  pkg/apis/eksctl.io/v1alpha5/addon_test.go
  pkg/ctl/create/addon_test.go
  pkg/ctl/update/addon_test.go
  userdocs/src/usage/addons.md
Labels: kind/feature, area/add-ons

#6317 Bump dependencies
  .github/workflows/release-candidate.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
  go.mod
  go.sum
Labels: skip-release-notes, dependencies

#6331 Bump more dependencies
  go.mod
  go.sum
Labels: skip-release-notes, dependencies

#6290 Support for EKS 1.25
  pkg/actions/cluster/upgrade.go
  pkg/actions/cluster/upgrade_test.go
  pkg/actions/nodegroup/testdata/al2-updated-template.json
  pkg/actions/nodegroup/testdata/br-updated-template.json
  pkg/addons/default/assets/coredns-1.25.json
  pkg/addons/default/testdata/sample-1.25.json
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/apis/eksctl.io/v1alpha5/types.go
  userdocs/src/introduction.md
Labels: kind/feature

#6294 Make Bottlerocket OS Volume Type configurable
  pkg/cfn/builder/block_device_mapping.go
  pkg/cfn/builder/managed_launch_template_test.go
  pkg/cfn/builder/testdata/launch_template/bottlerocket_additional_encrypted_volume.json
Labels: kind/bug, bottlerocket

#6336 Add release notes for 0.132.0
  docs/release_notes/0.132.0.md
Labels: skip-release-notes

#6341 Use addons published by AWS EKS for `describe-addon-versions`
  integration/tests/addons/addons_test.go
Labels: area/testing, area/tech-debt

#6369 Bump dependencies
  go.mod
  go.sum
  pkg/awsapi/ssm.go
Labels: skip-release-notes, dependencies
