Repository eksctl-io/eksctl, pull requests merged in 2024-01, with the labels that each got.

#7480 Safely access/mutate fargate coredns pod annotations
  pkg/fargate/coredns/coredns.go
  pkg/fargate/coredns/coredns_test.go
Labels: kind/improvement

#7487 Fix generating presigned URL for K8s authentication
  pkg/eks/auth/generator.go
Labels: kind/bug

#7488 Add release notes for 0.168.0
  docs/release_notes/0.168.0.md
Labels: kind/improvement, skip-release-notes

#7483 Handle unordered public endpoint CIDRs from EKS in endpoint updates
  pkg/ctl/utils/vpc_helper.go
  pkg/ctl/utils/vpc_helper_test.go
Labels: area/aws-vpc, kind/improvement

#7297 Fix outdated links
  pkg/addons/default/aws_node_generate.go
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  userdocs/src/usage/security.md
Labels: kind/docs, area/docs

#7451 Update well-known policy for ebsCSIController
  pkg/cfn/builder/iam_test.go
  pkg/cfn/builder/statement.go
Labels: kind/improvement

#7496 Fix coredns pdb preventing cluster deletion in integration tests
  integration/tests/backwards_compat/backwards_compatibility_test.go
  integration/tests/cluster_dns/cluster_dns_test.go
  integration/tests/existing_vpc/existing_vpc_test.go
Labels: kind/improvement, area/ci

#7498 Add support for EKS 1.29
  pkg/actions/cluster/upgrade.go
  pkg/actions/cluster/upgrade_test.go
  pkg/actions/nodegroup/testdata/al2-updated-template.json
  pkg/addons/default/assets/coredns-1.29.json
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/apis/eksctl.io/v1alpha5/types.go
  userdocs/src/getting-started.md
Labels: kind/feature

#7499 Add release notes for 0.169.0
  docs/release_notes/0.169.0.md
Labels: kind/improvement, skip-release-notes

#7501 Update arm-support.md
  userdocs/src/usage/arm-support.md
Labels: kind/docs, skip-release-notes

#7503 Expand Karpenter settings.aws block to settings for v0.33.0 and greater
  pkg/karpenter/karpenter.go
  pkg/karpenter/karpenter_test.go
Labels: kind/improvement, area/karpenter

#7505 Update stale.yml
  .github/workflows/stale.yml
Labels: kind/improvement, skip-release-notes, area/ci

#7515 Skip draining managed nodegroups when deleting cluster
  pkg/actions/cluster/delete.go
  pkg/actions/cluster/delete_test.go
  pkg/actions/cluster/owned_test.go
  pkg/actions/cluster/unowned_test.go
  pkg/ctl/cmdutils/cluster.go
  pkg/ctl/create/cluster.go
  pkg/ctl/delete/nodegroup.go
  pkg/ctl/drain/nodegroup.go
  userdocs/mkdocs.yml
  userdocs/src/usage/iamserviceaccounts.md
  userdocs/src/usage/nodegroup-customize-dns.md
  userdocs/src/usage/nodegroup-managed.md
  userdocs/src/usage/nodegroup-unmanaged.md
  userdocs/src/usage/nodegroup-with-custom-subnet.md
  userdocs/src/usage/nodegroups.md
Labels: area/managed-nodegroup, kind/improvement

#7517 docs(fargate): eksctl update command is deprecated, use upgrade instead
  userdocs/src/usage/fargate-support.md
Labels: kind/docs, area/docs
