Repository eksctl-io/eksctl, pull requests merged in 2024-06, with the labels that each got.

#7813 Disallow IRSA config if addon has existing pod identity associations
  pkg/actions/addon/update.go
  pkg/actions/addon/update_test.go
Labels: skip-release-notes

#7817 Fix formatting for notes in documentation
  userdocs/src/usage/addons.md
  userdocs/src/usage/pod-identity-associations.md
Labels: kind/docs, kind/improvement

#7821 Fix upgrading AL2 ARM64 nodegroups
  pkg/actions/nodegroup/upgrade.go
  pkg/ami/ssm_resolver.go
  pkg/ami/ssm_resolver_test.go
Labels: kind/bug, area/managed-nodegroup

#7820 Fix typo for iam policy
  userdocs/src/usage/minimum-iam-policies.md
Labels: kind/docs, kind/improvement

#7766 Fix Github workflow for updating generated files for default addons
  .github/workflows/update-generated.yaml
  Makefile
  pkg/addons/default/aws_node_generate.go
  pkg/addons/default/aws_node_test.go
  pkg/addons/default/scripts/update_aws_node.sh
  pkg/addons/default/scripts/update_coredns_assets.go
Labels: kind/bug, area/upgrades, area/add-ons

#7827 Make EKS 1.30 the default
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/apis/eksctl.io/v1alpha5/defaults.go
  pkg/apis/eksctl.io/v1alpha5/types.go
  pkg/cfn/builder/managed_nodegroup_ami_type_test.go
  pkg/cfn/builder/testdata/launch_template/launch_template.json
  pkg/cfn/builder/testdata/launch_template/launch_template_additional_volumes.json
  pkg/cfn/builder/testdata/launch_template/launch_template_additional_volumes_missing_size.json
  pkg/cfn/builder/testdata/launch_template/placement.json
  pkg/cfn/builder/testdata/launch_template/spot.json
  pkg/cfn/builder/testdata/launch_template/ssh_disabled.json
  pkg/cfn/builder/testdata/launch_template/ssh_enabled.json
  pkg/cfn/builder/testdata/launch_template/standard.json
  pkg/ctl/cmdutils/filter/nodegroup_filter_test.go
  userdocs/src/getting-started.md
  userdocs/theme/home.html
Labels: kind/improvement

#7838 use string in logging instead of wrapping error
  pkg/actions/nodegroup/drain.go
Labels: kind/improvement
