Repository eksctl-io/eksctl, pull requests merged in 2024-02, with the labels that each got.

#7524 Update release drafter template
  .github/release-drafter.yml
Labels: kind/improvement, skip-release-notes, area/ci

#7522 Add support for Access Entry type
  examples/40-access-entries.yaml
  pkg/actions/accessentry/getter.go
  pkg/apis/eksctl.io/v1alpha5/access_entry.go
  pkg/apis/eksctl.io/v1alpha5/access_entry_validation_test.go
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/cfn/builder/access_entry.go
  pkg/cfn/builder/access_entry_test.go
  pkg/cfn/builder/testdata/access_entry/4.json
  pkg/ctl/create/access_entry.go
  userdocs/src/usage/access-entries.md
Labels: kind/feature

#7525 Add release notes for 0.170.0
  docs/release_notes/0.170.0.md
Labels: kind/improvement, skip-release-notes

#7539 Announce eksctl Support Status Update on eksctl.io
  userdocs/mkdocs.yml
  userdocs/src/community.md
  userdocs/src/getting-started.md
  userdocs/src/stylesheets/extra.css
  userdocs/src/usage/schema.md
  userdocs/theme/home.html
  userdocs/theme/main.html
Labels: kind/docs

#7516 Add support for Ubuntu 22.04 based EKS images
  pkg/ami/auto_resolver.go
  pkg/ami/auto_resolver_test.go
  pkg/ami/ssm_resolver.go
  pkg/apis/eksctl.io/v1alpha5/outposts_validation_test.go
  pkg/apis/eksctl.io/v1alpha5/types.go
  pkg/apis/eksctl.io/v1alpha5/validation.go
  pkg/apis/eksctl.io/v1alpha5/validation_test.go
  pkg/cfn/builder/managed_nodegroup_ami_type_test.go
  pkg/ctl/cmdutils/nodegroup_flags.go
  pkg/nodebootstrap/userdata.go
  userdocs/src/usage/custom-ami-support.md
Labels: kind/feature

#7541 Add release notes for 0.171.0
  docs/release_notes/0.171.0.md
Labels: kind/improvement, skip-release-notes

#7523 Check for empty region before invoking API in AWS SDK
  pkg/eks/api.go
  pkg/eks/api_test.go
Labels: kind/improvement

#7471 Fix checks for updated addon versions
  pkg/actions/addon/get.go
  pkg/actions/addon/get_test.go
Labels: area/add-ons, kind/improvement

#7551 Extract common workflow steps to set up build environment
  .github/actions/setup-build/action.yaml
  .github/workflows/build-all-distros-nightly.yaml
  .github/workflows/cache-dependencies.yaml
  .github/workflows/ecr-publish-build.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-release-type.yaml
  .github/workflows/release-candidate.yaml
  .github/workflows/release.yaml
  .github/workflows/test-and-build.yaml
  .github/workflows/update-generated.yaml
Labels: dependencies, area/tech-debt, area/ci

#7554 Bump dependencies
  .github/actions/setup-build/action.yaml
  .github/workflows/docker-publish.yaml
  .github/workflows/ecr-publish-build.yaml
  .github/workflows/ecr-publish.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/publish-release-type.yaml
  .github/workflows/release-candidate.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
  go.mod
  go.sum
  integration/tests/crud/creategetdelete_test.go
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/authconfigmap/authconfigmap.go
  pkg/awsapi/autoscaling.go
  pkg/awsapi/cloudformation.go
  pkg/awsapi/cloudtrail.go
  pkg/awsapi/cloudwatchlogs.go
  pkg/awsapi/eks.go
  pkg/awsapi/iam.go
  pkg/awsapi/ssm.go
  pkg/cfn/builder/iam_helper.go
  pkg/cfn/builder/karpenter.go
  pkg/ctl/cmdutils/access_entry.go
  pkg/ctl/cmdutils/builder.go
  pkg/ctl/cmdutils/configfile.go
  pkg/ctl/cmdutils/fargate.go
  pkg/ctl/cmdutils/filter/access_entry_filter.go
  pkg/ctl/cmdutils/filter/filter.go
  pkg/ctl/cmdutils/filter/iamserviceaccount_filter.go
  pkg/ctl/cmdutils/filter/iamserviceaccount_filter_test.go
  pkg/ctl/cmdutils/filter/nodegroup_filter.go
  pkg/ctl/cmdutils/pod_identity_association.go
  pkg/ctl/delete/iamserviceaccount.go
  pkg/ctl/get/cluster.go
  pkg/ctl/utils/update_cluster_logging.go
  pkg/ctl/utils/vpc_helper.go
  pkg/drain/nodegroup.go
  pkg/eks/api.go
  pkg/eks/client.go
  pkg/eks/mocksv2/CloudFormation.go
  pkg/eks/mocksv2/CloudTrail.go
  pkg/eks/mocksv2/EKS.go
  pkg/eks/tasks.go
  pkg/eks/update.go
  pkg/kubernetes/client.go
  pkg/vpc/vpc.go
  userdocs/requirements.txt
Labels: dependencies, area/tech-debt

#7561 Update build image go version to 1.21
  .github/workflows/release-candidate.yaml
  .github/workflows/release.yaml
  .github/workflows/update-generated.yaml
  .golangci.yml
  Dockerfile
  build/docker/Dockerfile
  build/docker/build_image_manifest
  build/docker/image_tag
Labels: skip-release-notes, dependencies, area/tech-debt

#7563 Revert removing RetryMetricsHeader in presigned requests
  pkg/eks/auth/generator.go
Labels: kind/bug

#7564 Add release notes for 0.172.0
  docs/release_notes/0.172.0.md
Labels: kind/improvement, skip-release-notes

#7566 Update workflows
  .github/workflows/publish-release-type.yaml
  Makefile
Labels: kind/improvement, skip-release-notes

#7570 Remove slackToken
  .github/workflows/publish-release-candidate.yaml
  .github/workflows/publish-release.yaml
Labels: kind/bug, skip-release-notes, area/tech-debt, area/ci

#7588 Resolve security alerts from Dependabots
  build/scripts/update-codegen.sh
  go.mod
  go.sum
  pkg/awsapi/ssm.go
Labels: skip-release-notes, dependencies, area/tech-debt, area/ci

#7599 Make EKS 1.29 default
  integration/tests/managed/managed_nodegroup_test.go
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/apis/eksctl.io/v1alpha5/types.go
  pkg/ctl/cmdutils/filter/nodegroup_filter_test.go
  userdocs/src/getting-started.md
  userdocs/theme/home.html
Labels: kind/feature

#7604 Automate PR with release notes draft
  .github/workflows/release-drafter.yaml
Labels: kind/improvement, area/tech-debt, area/ci

#7603 Remove inline ELB and CloudWatch policies from Cluster Role
  pkg/cfn/builder/cluster_test.go
  pkg/cfn/builder/iam.go
  pkg/cfn/builder/statement.go
Labels: area/aws-iam, kind/improvement

#7623 Add profile flag support for get and delete access entry
  pkg/ctl/delete/access_entry.go
  pkg/ctl/get/access_entry.go
Labels: area/general-cli, kind/improvement

#7626 Increase STS session duration to fix caching credentials with assumed role MFA session
  pkg/eks/apiv2.go
Labels: kind/bug, area/aws-iam

#7628 Remove dependabot from contributors
  .github/release-drafter.yml
Labels: kind/improvement, skip-release-notes, area/ci

#7629 Use eksctl-bot token for release draft PR
  .github/release-drafter.yml
  .github/workflows/release-drafter.yaml
Labels: kind/bug, skip-release-notes, area/ci
