Repository eksctl-io/eksctl, pull requests merged in 2025-06, with the labels that each got.

#8405 Use AmazonLinux2023 as default AMI instead of AmazonLinux2 for Kubernetes version >=1.33
  go.mod
  go.sum
  pkg/apis/eksctl.io/v1alpha5/defaults.go
  pkg/apis/eksctl.io/v1alpha5/defaults_test.go
  pkg/apis/eksctl.io/v1alpha5/instance_selector_test.go
  pkg/apis/eksctl.io/v1alpha5/managed_nodegroup_test.go
  pkg/apis/eksctl.io/v1alpha5/types.go
  pkg/awsapi/cloudtrail.go
  pkg/awsapi/cloudwatchlogs.go
  pkg/awsapi/eks.go
  pkg/cfn/builder/managed_launch_template_test.go
  pkg/cfn/builder/managed_nodegroup_ami_type_test.go
  pkg/cfn/builder/managed_nodegroup_test.go
  pkg/ctl/cmdutils/cmd.go
  pkg/ctl/cmdutils/filter/nodegroup_filter_test.go
  pkg/ctl/cmdutils/nodegroup_flags.go
  pkg/eks/mocksv2/CloudTrail.go
  pkg/eks/mocksv2/CloudWatchLogs.go
  pkg/nodebootstrap/bottlerocket_test.go
  pkg/nodebootstrap/managed_al2_test.go
  pkg/nodebootstrap/managed_bottlerocket_test.go
Labels: kind/bug, area/nodegroup

#8408 Update default AMI family in integration test to AmazonLinux2023 for K8s 1.32 ManagedNodeGroups
  integration/tests/dry_run/dry_run_test.go
Labels: area/testing, skip-release-notes, kind/maintenance

#8411 Fix Clusters Fail to Create Private Endpoint and Identity Provider
  pkg/actions/identityproviders/tasks.go
Labels: kind/bug, area/podidentity

#8414 Implementation of MCP server for eksctl
  cmd/eksctl/main.go
  go.mod
  go.sum
  pkg/ctl/mcp/README.md
  pkg/ctl/mcp/mcp.go
  pkg/ctl/mcp/mcp_test.go
  pkg/ctl/mcp/misc_test.go
  pkg/ctl/mcp/session_test.go
  pkg/ctl/mcp/stdio_test.go
  pkg/ctl/mcp/tools.go
  pkg/ctl/mcp/tools_test.go
  pkg/ctl/misc/info.go
  pkg/ctl/misc/misc.go
  pkg/ctl/misc/version.go
Labels: kind/improvement, area/mcp
