Repository eksctl-io/eksctl, pull requests merged in 2025-07, with the labels that each got.

#8422 Migrate EBS CSI policy to AmazonEBSCSIDriverPolicy managed policy
  pkg/actions/addon/create_test.go
  pkg/cfn/builder/iam.go
  pkg/cfn/builder/iam_helper.go
  pkg/cfn/builder/iam_test.go
  pkg/cfn/builder/nodegroup_test.go
  pkg/cfn/builder/statement.go
Labels: area/aws-iam, kind/improvement

#8442 Add announcement for docs on AWS, remove old announcements
  userdocs/theme/main.html
Labels: kind/docs

#8443 Update schema.md
  userdocs/src/usage/schema.md
Labels: kind/docs

#8447 Add DescribeRouteTables to load balancer controller permissions
  pkg/cfn/builder/iam_test.go
  pkg/cfn/builder/statement.go
Labels: kind/bug, area/aws-iam

#8425 Add support for Cross Account Pod Identity Associations
  .github/workflows/link-checker.yaml
  README.md
  examples/39-pod-identity-association.yaml
  go.mod
  go.sum
  pkg/actions/addon/mocks/IAMRoleCreator.go
  pkg/actions/addon/mocks/IAMRoleUpdater.go
  pkg/actions/addon/mocks/PodIdentityIAMUpdater.go
  pkg/actions/automode/mocks/cluster_role_manager.go
  pkg/actions/automode/mocks/node_group_drainer.go
  pkg/actions/automode/mocks/role_manager.go
  pkg/actions/cluster/mocks/auto_mode_deleter.go
  pkg/actions/podidentityassociation/creator_test.go
  pkg/actions/podidentityassociation/mocks/RoleMigrator.go
  pkg/actions/podidentityassociation/mocks/StackDeleter.go
  pkg/actions/podidentityassociation/tasks.go
  pkg/actions/podidentityassociation/updater.go
  pkg/actions/podidentityassociation/updater_test.go
  pkg/apis/eksctl.io/v1alpha5/assets/schema.json
  pkg/apis/eksctl.io/v1alpha5/iam.go
  pkg/automode/mocks/stack_creator.go
  pkg/automode/mocks/stack_deleter.go
  pkg/awsapi/cloudformation.go
  pkg/awsapi/cloudwatchlogs.go
  pkg/awsapi/eks.go
  pkg/awsapi/elasticloadbalancingv2.go
  pkg/awsapi/iam.go
  pkg/awsapi/outposts.go
  pkg/awsapi/ssm.go
  pkg/cfn/manager/mocks/NodeGroupResourceSet.go
  pkg/cfn/manager/mocks/NodeGroupStackManager.go
  pkg/ctl/cmdutils/pod_identity_association.go
  pkg/ctl/create/pod_identity_association.go
  pkg/ctl/create/pod_identity_association_test.go
  pkg/ctl/update/pod_identity_association.go
  pkg/ctl/update/pod_identity_association_test.go
  pkg/ctl/utils/mocks/VPCConfigUpdater.go
  pkg/eks/mocks/ConfigProvider.go
  pkg/eks/mocks/KubeNodeGroup.go
  pkg/eks/mocksv2/ASG.go
  pkg/eks/mocksv2/CloudFormation.go
  pkg/eks/mocksv2/CloudTrail.go
  pkg/eks/mocksv2/CloudWatchLogs.go
  pkg/eks/mocksv2/CredentialsProvider.go
  pkg/eks/mocksv2/EC2.go
  pkg/eks/mocksv2/EKS.go
  pkg/eks/mocksv2/ELB.go
  pkg/eks/mocksv2/ELBV2.go
  pkg/eks/mocksv2/IAM.go
  pkg/eks/mocksv2/Outposts.go
  pkg/eks/mocksv2/SSM.go
  pkg/eks/mocksv2/STS.go
  userdocs/src/usage/pod-identity-associations.md
Labels: kind/feature, area/podidentity
